{% extends 'base.html.twig' %}
{% block title %}AInstagram - home{% endblock %}

{% block body %}
    <div class="container-sm d-flex justify-content-center">
        <div class="border wrapper">
            <h1 class="text-center">Login</h1>
            {{ form_start(form) }}
                <div class="mb-3">
                    <label for="input_name" class="form-label">Name</label>
                    <input type="text" value="{{ last_username }}" name="name" class="form-control" id="input_name" required autofocus>
                </div>
                <div class="mb-3">
                    <label for="input_password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="input_password" required>
                </div>
                <h4>{{ form_errors(form) }}</h4>
                <br>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {{ form_row(form.submit, { 'label': 'Login' }) }}
                <a href="{{path('register')}}" class="btn btn-outline-primary">Register</a>
            {{ form_end(form) }}
        </div>
    </div>
    <br>
    <br>
    <br>
{% endblock %}