{% extends 'base.html.twig' %}
{% block title %}AInstagram - home{% endblock %}

{% block body %}
<div class="container-sm">
	<div class="container-sm d-flex flex-wrap justify-content-center">
		<div class="avatar">
			<img src="https://picsum.photos/500/500" alt="...">
		</div>
	</div>
	<div class="container-sm d-flex flex-wrap justify-content-center">
		
		<h2 class="nickname">{{name}}</h2>
		{% if role=="ROLE_USER" %}
			<div title="User" class="role">👤</div>
		{% endif %}
		{% if role=="ROLE_ADMIN" %}
			<div title="Admin" style="user-select: none; cursor: pointer;"></div>
			<div title="User" class="role">⭐</div>
		{% endif %}
	</div>
	<div class="container-sm d-flex flex-wrap justify-content-center">
		<div class="description">{{description}}</div>
	</div>
</div>

<div class="container-sm d-flex flex-wrap justify-content-center">
	<div class="content_wrapper d-flex flex-wrap justify-content-start" style="padding: 20px 0;">
		<!-- CONTENT WRAPPER -->
		{# {% for post in posts %}
		<div class="card" style="width: 18rem;">
			<img src="{{imageURL}}" class="card-img-top" alt="...">
			<div class="card-body">
				<h5 class="card-title">{{post.Title}}</h5>
				<p class="card-text">{{post.Prompt}}</p>
				<p class="card-text">{{post.Description}}</p>
			</div>
		</div>
		{% endfor %} #}
	</div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
</script>
{% endblock %}
